.background {
  &__is-white {
    background-color: map_get($colors, white);
  }
  &__is-black {
    background-color: map_get($colors, black);
  }
  &__is-primary {
    background-color: $primary;
  }
  &__is-secondary {
    background-color: map_get($colors, secondary);
  }
  &__is-tertiary {
    background-color: map_get($colors, tertiary);
  }
  &__is-quaternary {
    background-color: map_get($colors, quaternary);
  }
}