$size-header: 50px;
$size: 40px;
.input {
  height: 43px;
  border-radius: 0;
  font-family: inherit;
  box-shadow: none;
  padding: 13px 10px 10px 10px;
  //border: 1px solid map-get($colors, secondary);
  color: map-get($colors, secondary);
  &:focus {
    box-shadow: none;
    border: 1px solid $primary;
  }
  &::placeholder {
    color: map-get($colors, black);
    opacity: 0.3;
  }
  &__header-top {
    height: $size-header;
    border: none;
    &:focus {
      box-shadow: none;
      border: none
    }
  }
  &__form {
    &__icon-before__container {
      background-color: $primary;
      min-width: $size-header;
      height: $size-header;
      &__icon-localisation {
        @extend .icon__location;
        height: 25px;
        width: 25px;
      }
      &__icon-time {
        @extend .icon__time;
        height: 25px;
        width: 25px;
      }
    }
  }
}