.confirm-title {
  @media screen and (max-width: $tablet){
    margin-right: auto;
  }
}
.confirm-left, .confirm-right {
  max-width: 50%;
  margin: auto;
  @media screen and (max-width: $tablet) {
    max-width: initial;
  }
}